<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CabifyChallengeTCA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EED116E529A04548009D939E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED116F529A0454A009D939E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED116FF29A0454A009D939E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
